@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-rows: 51px auto 60px;
  grid-template-areas:
    'navigation'
    'main'
    'footer';
}

main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

.comment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'image user user user user user user user user'
    'image content content content content content content content content'
    'blank content content content content content content content content'
    'blank date date date date date date date date';
}

/* WHen user is an author of the comment */
.comment__author {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'image user user user user user user user user'
    'image content content content content content content content content'
    'image content content content content content content content content'
    'blank date date date date date date date date'
    'blank edit edit edit edit delete delete delete delete';
}

.comment__user-image {
  grid-area: image;
}

.comment__user-name {
  grid-area: user;
}

.comment__content {
  grid-area: content;
  word-wrap: break-word;
  word-break: break-all;
}

.comment__date {
  grid-area: date;
}

.comment__edit {
  grid-area: edit;
}

.comment__delete {
  grid-area: delete;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;

  appearance: none;
  width: 100%;
  height: 1.5rem;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: aquamarine;
  background-image: -webkit-linear-gradient(left, #f44, #12cc00);
  border-radius: 5px;
}

progress[value]::-moz-progress-bar {
  background-color: aquamarine;
  background-image: -webkit-linear-gradient(left, #f44, #12cc00);
  border-radius: 5px;
}
