@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-rows: 51px auto 60px;
  grid-template-areas:
    'navigation'
    'main'
    'footer';
}

main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

.comment {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    'image user user user user user '
    'image content content content content content '
    'image date date date date date';
}

/* WHen user is an author of the comment */
.comment__author {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr;
  grid-template-areas:
    'image user user user user user edit delete'
    'image content content content content content edit delete'
    'image date date date date date edit delete';
}

.comment__user-image {
  grid-area: image;
}

.comment__user-name {
  grid-area: user;
}

.comment__content {
  grid-area: content;
}

.comment__date {
  grid-area: date;
}

.comment__edit {
  grid-area: edit;
}

.comment__delete {
  grid-area: delete;
}
